@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fefaf6;
}

.font-timesroman {
  font-family: var(--font-timesroman);
}

.font-sistema {
  font-family: Helvetica;
}

.icono-dorado {
  filter: brightness(0) saturate(100%) invert(68%) sepia(47%) saturate(700%)
    hue-rotate(357deg) brightness(91%) contrast(88%);
}
